<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="UrlServidorMonitor" value="https://wsmonitor.sigi.com.br"/>
  <add key="NomeTipoContexto" value="ContextoSigi"/>
  <add key="NomeAssemblyContexto" value="Snebur.Sigi.AcessoDados"/>
  <add key="NomeAssemblyEntidades" value="Snebur.Sigi.Entidades"/>

  <add key="CaminhoAssemblyContexto" value="E:\Projetos\TFS\Snebur.Sigi\Snebur.Sigi - Desenvolvimento\Snebur.Sigi.AcessoDados\bin\Debug\Snebur.Sigi.AcessoDados.dll"/>
  <add key="CaminhoAssemblyEntidades" value="../../../../../Snebur.Sigi/Snebur.Sigi - Desenvolvimento/Snebur.Sigi.Entidades/bin/Debug/Snebur.Sigi.Entidades.dll"/>
  
  <!--<add key="CaminhoQualificadoTipoContexto" value="ContextoMonitor, Snebur.Monitor.AcessoDados"/>-->
</appSettings>