<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--<add name="Snebur.Monitor"
       connectionString="Data Source=rubens-pc\sqlexpress;Initial Catalog=Snebur.Monitor; User Id=sa; Password=karate;"
       providerName="System.Data.SqlClient"  />-->

  <!--<add name="Snebur.Monitor"
       connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Snebur.Monitor; User Id=sa; Password=karate;"
       providerName="System.Data.SqlClient"  />-->

  <add name="Snebur" connectionString="Server=192.168.1.16; Database=snebur; UID=zyonadminuser; Password=zyonAdminClient$%3812#" providerName="System.Data.SqlClient" />
</connectionStrings>
